html {
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


.container h2 {
    padding: 35px 0;
}
/*-- header --*/

header {
    display: flow-root;
}

.menu {
    display: block;
    padding: 0;
    float: right;
    margin: 0;
}

.top-nav {
    overflow: auto;
    background: #1a3d4ea6;
    position: fixed;
    width: 100%;
}

.menu li {
    list-style: none;
    float: left;
    padding: 20px;
}

.menu li a {
    color: #FFF;
    text-decoration: none;
    padding: 20px;
}

.menu li a:hover {
    background-color: #DDD;
}

.caption {
    float: left;
    max-width: 480px;
    margin: 15px;
    padding-top: 100px;
}

.backdrop {
    background: #dfedf9;
    display: flow-root;
    padding: 100px 0;
}

.bd-image {
    margin: 15px;
}

.bd-image img {
    max-width: 50%;
}

/*-- service --*/

.services {
    background: url(img/bg1.jpg) no-repeat right -20%;
}

.services h2 {
    text-align: center;
    margin: 40px 0;
}

.serv-image ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.serv-image ul li {
    display: inline-block;
    list-style: none;
    width: 30%;
    text-align: center;
    color: #FFF;
}

/*-- our client --*/

.clients {
    text-align: center;
}

.clients ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.clients ul li {
    display: inline-block;
    list-style: none;
    width:30%;
}

.slidecaption {
    -webkit-animation-name: spinner; 
   -webkit-animation-timing-function: linear; 
   -webkit-animation-iteration-count: infinite; 
   -webkit-animation-duration: 5s; 
   animation-name: spinner; 
   animation-timing-function: linear; 
   animation-iteration-count: infinite; 
   animation-duration: 5s; 
   -webkit-transform-style: preserve-3d; 
   -moz-transform-style: preserve-3d; 
   -ms-transform-style: preserve-3d; 
   transform-style: preserve-3d;
}

 /* WebKit and Opera browsers */ @-webkit-keyframes spinner { 
   from 
   { 
       -webkit-transform: rotateY(0deg); 
   } 
   to { 
       -webkit-transform: rotateY(-360deg); 
   } 
} /* all other browsers */ 
@keyframes spinner { 
   from { 
       -moz-transform: rotateY(0deg); 
       -ms-transform: rotateY(0deg); 
       transform: rotateY(0deg); 
   } 
   to 
   { 
       -moz-transform: rotateY(-360deg); 
       -ms-transform: rotateY(-360deg); 
       transform: rotateY(-360deg); 
   
   } 
}


/*-- join us --*/
.add-margin {
    margin: 30px;
}
.join {
    background: url(img/bg2.jpg) no-repeat left top;
    text-align:center;
}
.join .container {
    padding: 100px 20px;
    margin: 70px auto;
}
.join h2 {
    text-align: left;
}
.forms {
    display: block;
    margin: 20px 0;
    width: 50%;
    height: 30px;
}
textarea.forms {
    height: 200px;
}
.join .submit {
    width: 100px;
    height: 30px;
    background: #665cf0;
    border: 0;
}
/*-- footer --*/

/*-- responsive --*/